<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://sebastianbuergy-oss.github.io/EASIVO-TV-PRO-OTA/test-e29a97f796414adda82e403e84a8f23c/EASIVO-TV-PRO-LiveTV-Test.ipa</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>ch.sebastianbuergy.easivotvpro</string>
        <key>bundle-version</key>
        <string>62.17</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>EASIVO TV PRO Live-TV Test</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
